<div *ngIf="employee">
  <div *ngIf="opType =='edit'">

    <h1 mat-dialog-title>Update Compensation</h1>

    <div mat-dialog-content>

      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput disabled value="{{employee.firstName}}">
      </mat-form-field>

      <mat-form-field>
        <mat-label>last Name</mat-label>
        <input matInput disabled value="{{employee.lastName}}">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Position</mat-label>
        <input matInput disabled value="{{employee.position}}">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Compensation</mat-label>
        <input matInput type="number" required placeholder="$0" [(ngModel)]="employee.compensation">
      </mat-form-field>

    </div>

    <div mat-dialog-actions>

      <button mat-flat-button color="#ececec" [mat-dialog-close]="employee">Save</button>
      <button mat-stroked-button (click)="closeDialog()">Cancel</button>

    </div>
  </div>

  <div *ngIf="opType =='delete'">

    <h1 mat-dialog-title>Delete Direct Report</h1>

    <div mat-dialog-content>
      <p>Delete "{{employee.firstName}} {{employee.lastName}}"?</p>
      <p><b>This action is permanent.</b></p>
    </div>

    <div mat-dialog-actions>
      <button mat-flat-button color="warn" [mat-dialog-close]="employee">Confirm</button>
      <button mat-stroked-button (click)="closeDialog()">Cancel</button>
    </div>

  </div>
</div>
